<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário</title>
</head>
<body>
    <form action="/forms" method="post">
      <input type="text" name="name" id="name" placeholder="Nome" required>
      <input type="text" name="email" id="email" placeholder="Email" required>
      <input type="submit" id="enviar" value="Enviar">
    </form>
</body>
</html>