<div class="main-conteiner">

  <app-header [sidenav]="sidenav"> </app-header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav class="w-p10 h-100">
      <mat-list>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>home</mat-icon>
          <span class="ml-15">
          <a [routerLink]="['/home']">Home</a>
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>apps</mat-icon>
          <span class="ml-15">
          <a [routerLink]="['/categoria']">Categoria</a>
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>login</mat-icon>
          <span class="ml-15">
          <a [routerLink]="['/about']">About</a>
          </span>
        </mat-list-item>

      </mat-list>
      
    </mat-sidenav>

    <mat-sidenav-content>

      <!--
      <h1> conteudo do sidenav </h1>
      -->

      <router-outlet> </router-outlet>
      
    </mat-sidenav-content>

  </mat-sidenav-container>


  <!-- 
    <app-test></app-test> 
  -->


    <app-footer></app-footer>

</div>








