<div class="main-conteiner">

<!--  
  <app-header [sidenav]="sidenav"> </app-header>
-->  

  <app-header2 [sidenav]="sidenav"> </app-header2>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="w-p10 h-p100">
      <mat-list>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>home</mat-icon>
          <span class="ml-15">
          <a [routerLink]="['/home']">Home</a>
          </span>
        </mat-list-item>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>home</mat-icon>
          <span class="ml-15">
          <a [routerLink]="['/testes']">Página de Testes</a>
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>apps</mat-icon>
          <span class="ml-15">
          <a [routerLink]="['/categoria']">Categoria</a>
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>login</mat-icon>
          <span class="ml-15">
          <a [routerLink]="['/about']">About</a>
          </span>
        </mat-list-item>

      </mat-list>
      
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet> </router-outlet>
      
    </mat-sidenav-content>

  </mat-sidenav-container>

  <!-- 
    <app-test></app-test> 
  -->


    <app-footer></app-footer>

</div>








