<div style="display: flex; flex-direction: column;">
    <mat-card  class="w-300">

        <mat-card-content>
            <form [formGroup]="categoryForm" #form="ngForm" >
            <div fxLayout="column">
                <mat-form-field>
                    <mat-label>Item</mat-label>
                    <input matInput type="number" formControlName = "position">
                    @if ("categoryForm.get('position').errors.required") {
                        <mat-error>Item é <strong>obrigatório</strong></mat-error>
                      }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName = "name">

                    @if ("categoryForm.get('name').errors.required") {
                        <mat-error>Nome é <strong>obrigatório</strong></mat-error>
                      }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Peso</mat-label>
                    <input matInput type="text" formControlName = "weight">
                    @if ("categoryForm.get('weight').errors.required") {
                        <mat-error>Peso é <strong>obrigatório</strong></mat-error>
                      }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Simbulo</mat-label>
                    <input matInput type="text" formControlName = "symbol">
                </mat-form-field>
            </div>
            </form>
            
        </mat-card-content>

        <mat-card-actions class="flx-center-row flx-evly">
            <button mat-raised-button color="warn" (click)="clickCancelar()">
                Cancelar
            </button>
            <button mat-raised-button color="primary" (click)="clickSalvar()">
                Salvar
            </button>
        </mat-card-actions>

    </mat-card>
</div>
