@charset "utf-8";
body{
    background-color: #F2F2F2;
    margin: 0% 10% 0% 10%;
}
h2 {
    font-family: "Roboto Slab", Georgia, serif;
    text-align: center;
    
}
nav ul {
    list-style-type: none;
    text-align: center;
}
nav ul li {
    font-weight: bolder;
    display: inline;
    background-color: rgb(47, 0, 255);
    border: solid black 1.5px;
    border-radius: 25px;
    padding:0.2% 1% 0.2% 1%;
    color: white;
    margin-left: 1%;
}
nav ul li:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
}
nav a{
    text-decoration: none;
    color: black;
}
section{
    background-color: #5E9FF2;
    border: rgb(0, 56, 91) 5px solid;
    border-radius: 25px;
    margin: 1% auto;
    width: 80%;
}
.video{
    display: block;
    width: min-content;
    height: 250px;
    margin: 2% auto 2% auto;
    border: solid 3px black;
    border-radius: 25px;
}
audio{
    display: inline;
    margin: 1% 9.0% 1% 9.0%;
    border: solid black 3.5px;
    border-radius: 31px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: red;
}
#informacao{
    padding: 1%;
}
#redesocial{
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;

    width: 18%;
    margin-left: 8%;
    border-left: solid black 1px;
}
#contato{
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;

    width: 28%;
    border-left: solid black 1px;
    border-right: solid black 1px;
}
#endereco{
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1.5%;

    width: 25%;
    border-right: solid black 1px;
}