#ex01{
    padding: 0.5%;
    margin: 1% 0.5%;
    border: solid black 1px;
}
#ex02{
    padding: 0.5%;
    margin: 1% 0.5%;
    border: solid black 1px;
}
#ex03{
    padding: 0.5%;
    margin: 1% 0.5%;
    border: solid black 1px;
}
#ex04{
    padding: 0.5%;
    margin: 1% 0.5%;
    border: solid black 1px;
}
#ex05{
    padding: 0.5%;
    margin: 1% 0.5%;
    border: solid black 1px;
}
#ex06{
    padding: 0.5%;
    margin: 1% 0.5%;
    border: solid black 1px;
}