<div>
    <mat-card>
        <mat-card-header>
            <h2>Esta é a tela de Login, click em OK para Logar</h2>
        </mat-card-header>
        <mat-card-actions class="flx-center-row flx-evly">
            <!--
                <button mat-raised-button color="primary" (click)="clickLogin()">{{descricaoLogin()}}</button>
            -->
            
            <button mat-raised-button color="primary" (click)="clickLogin()">{{descricaoLogin}}</button>
        </mat-card-actions>
    </mat-card>
    
</div>

<!--
<asl-google-signin-button type='standard' size='medium'>
</asl-google-signin-button>

<div id="g_id_onload"
     data-client_id="paste-your-cliend-id-here" 
     data-context="signin"
     data-ux_mode="popup"
     data-itp_support="true"
     data-callback="handleOauthResponse"
     >
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
-->

<!--
<div >
    <button (click)="signInWithGoogle()">Login with Google</button>
    <button (click)="signInWithFacebook()">Login with Facebook</button>
</div>

<div *ngIf="loggedIn">
    <h2>Welcome {{ user.name }}</h2>
    <button (click)="signOut()">Logout</button>
</div>
-->

