<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADM</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <section class="container mt-4">
    <h1>Users List</h1>
    <ul class="list-group">
      <% users.forEach(user => { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Nome: <%= user.name %>, Email: <%= user.email %>
          <form action="/forms/<%= user.email %>" method="post" class="mb-0">
            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
          </form>
        </li>
      <% }); %>
    </ul>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
