.roboto{
    color: #FFF;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
body {
    background-image: url('img/Desktop\ -\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    mask-position: relative;
    width: 100%;
}
main{
    padding: 1%;
    margin: 0% 18%;
    width: 75.125rem;
    height: 46.375rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: var(--cor-primaria, #059954);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    justify-content: space-evenly;
}
main#voltar{
    padding: 5%;
}