.roboto_condensed_bold{
    color: #FFF;
    font-family: 'Roboto Condensed';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
body {
    background-image: url('img/Desktop\ -\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
}
main{
    padding: 1%;
    margin: 0% 18%;
    width:65%;
    height: 40rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: var(--cor-primaria, #059954);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main#voltar{
    padding: 5%;
}
section{
    border: solid black 1px;
}
#divsao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
{
    background-color: rgba(255, 255, 255, 0);
}